@using TvTracker.Models.Enums
@using TvTracker.Models.View
@Html.AntiForgeryToken()
@model MediaView

<div id="media-controls" class="media-controls" data-tmdb-id="@Model.TmdbId">
    <div class="rating-wrapper">

        <button id="rating-button" class="rating-button" data-rating=@Model.Rating>
            <div id="rating-button-contents">
                @* filled dynamically by js *@
            </div> 
        </button>

        <div id="rating-container" class="rating-container hidden">
            <div class="arrow"></div>
            <button id="clear-rating">clear</button>
            @for (int i = 10; i >= 1; i--)
            {
                <input type="radio"
                       name="rating"
                       value="@i"
                       id="star-@i"
                       @(Model.Rating == i ? "checked" : "") />
                <label for="star-@i"></label>
            }
        </div>
    </div>

    <button id="toggle-watch-later">
        @if(Model.Status.Equals(WatchStatus.WantToWatch)) {
            <img src="~/assets/icons/bookmark-full.svg" alt="">
        } else {
            <img src="~/assets/icons/bookmark.svg" alt="">
        }
    </button>

    <button id="mark-as-watched">
        Mark
    </button>

    <span>@Model.WatchDate</span>
</div>



