@using TvTracker.Models.Enums
@using TvTracker.Models.View
@Html.AntiForgeryToken()
@model MediaView

<div id="media-controls" class="media-controls" data-tmdb-id="@Model.TmdbId">
    <div class="rating-wrapper">

        <button id="rating-button" class="rating-button" data-rating=@Model.Rating>
            <div id="rating-button-contents">
                @* filled dynamically by js *@
            </div> 
        </button>

        <div id="rating-container" class="rating-container hidden">
            <div class="arrow"></div>
            <button id="clear-rating">clear</button>
            @for (int i = 10; i >= 1; i--)
            {
                <input type="radio"
                       name="rating"
                       value="@i"
                       id="star-@i"
                       @(Model.Rating == i ? "checked" : "") />
                <label for="star-@i"></label>
            }
        </div>
    </div>

    <button id="toggle-watch-later" class="media-controls-button" data-active="@Model.Watched">
        @if(Model.Watched) {
            <img id="watch-later-btn-image" src="~/assets/icons/bookmark-full.svg" alt="">
        } else {
            <img id="watch-later-btn-image" src="~/assets/icons/bookmark.svg" alt="">
        }
        <div id="watchlater-button-msg"></div>
        
    </button>

    <button id="mark-as-watched" class="media-controls-button" data-watch-date="@Model.WatchDate?.ToString("dd/MM/yy")">
        <img src="~/assets/icons/eye.svg" alt="">
        <div id="watched-button-msg"></div>
    </button>

</div>



