@page "{tmdbId:int}"
@using TvTracker.Models.View
@model Shows.DetailsModel
@Html.AntiForgeryToken()
@section Styles {
    <link rel="stylesheet" href="~/css/Home/index.css" asp-append-version="true" />
}
<div class="main-content">
    <div class="media-banner">
        <img src=@Model.SeriesView?.PosterUrl alt="" />
        <div class="media-title">
            <h2>@Model.SeriesView?.Title</h2>
        </div>

        @if(Model.MediaControls != null && Model.SeriesView != null) {
           <partial name="_MediaControls"
            model="Model.MediaControls" />
        }
    </div>

    <div class="cast-container">
        <h3>Cast</h3>

        <div class="cards-container">  
            @foreach(var member in Model.SeriesView?.Cast) {
                <div class="cast-card">
                    <img src=@member.PosterPath/>
                    <span class="actor-name">@member.ActorName</span>
                    <span class="character-name">@member.CharacterName</span>
                </div>
            }
        </div>

    </div>

    <div class="seasons-container">
        <h3>Seasons</h3>
        <div class ="cards-container">
        @foreach(var season in Model.SeriesView.Seasons) {
            <div class="season-card">
                @* <div class="placeholder-poster"></div> *@
                <img src= @season.PosterUrl/>
                <span>@season.Title</span>
                <span class="episode-num">@season.EpisodeCount episodes</span>
            </div>
        }
        </div>

    </div>

</div>

@section Scripts {
    <script type="module">
        import {initMediaControls} from '/js/initMediaControls.js';
        const token = document.querySelector('input[name="__RequestVerificationToken"]').value;
        initMediaControls(token);
    </script>
}
