@page "{tmdbId:int}"
@using TvTracker.Models.Enums
@using TvTracker.Models.View
@model Shows.DetailsModel
@Html.AntiForgeryToken()
@section Styles {
    <link rel="stylesheet" href="~/css/Home/index.css" asp-append-version="true" />
}
<div class="main-content">
    @if(Model.SeriesView != null) {
        <partial name="_MediaBanner" model="@(new MediaView
        (
            Model.SeriesView.TmdbId,
            MediaType.Series,
            Model.SeriesView.Title,
            Model.SeriesView.PosterUrl,
            Model.SeriesView.ReleaseDate,
            Model.UserMediaInfo?.Rating,
            Model.UserMediaInfo?.Watched ?? false,
            Model.UserMediaInfo?.Saved ?? false,
            Model.UserMediaInfo?.WatchDate
        ))" 
        />
    }   

    <partial name="_MediaCastSection" model="@Model.SeriesView?.Cast" />


    <div class="seasons-container">
        <h3>Seasons</h3>
        <div class ="card-container">
        @foreach(var season in Model.SeriesView?.Seasons) {
            <div class="season-card">
                <img src= @season.PosterUrl/>
                <span>@season.Title</span>
                <span class="episode-num">@season.EpisodeCount episodes</span>
            </div>
        }
        </div>
    </div>

</div>

@section Scripts {
    <script type="module">
        import {initMediaControls} from '/js/initMediaControls.js';
        const token = document.querySelector('input[name="__RequestVerificationToken"]').value;
        initMediaControls(token);
    </script>
}
