@page
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using TvTracker.Models.View
@model Shows.ShowsModel
@Html.AntiForgeryToken()
@section Styles {
    <link rel="stylesheet" href="~/css/Home/index.css" asp-append-version="true" />
}

@{
    ViewData["Title"] = "Shows";
}

<div class="main-container">

    <div>
        <input name="searchQuery" type="text" id="searchBox">
    </div>

    <ul class="search-container"  id="search-results"></ul>


        <div class="user-media-container" id="user-media-content">
        <partial name="_MediaCardsSection" 
         model="@(new MediaCardsSectionView("Watch Later","/Shows/Details", Model.WatchList))" 
        />

        <partial name="_MediaCardsSection" 
         model="@(new MediaCardsSectionView("History","/Shows/Details",Model.AlreadyWatch))" 
        />

            @* @if(Model.WatchList.Count != 0) { 
                <div class="recently-watched-container">

                    <h3>Watch List</h3>

                    <div class="card-container">
                        @foreach(var um in Model.WatchList) 
                        {   
                           <a asp-page="/Shows/Details" asp-route-tmdbId="@um.TmdbId">  
                                <div class="media-card">
                                    @if(um.MediaPosterPath != null) {
                                        <img src=@um.MediaPosterPath alt="@um.MediaTitle" />
                                    }
                                    <span class="media-rating">
                                        @um.Rating
                                    </span>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            }

            @if(Model.AlreadyWatch.Count != 0) {
                <div class="recently-watched-container">

                    <h3>Recently Watched</h3>

                    <div class="card-container">
                        @foreach(var um in Model.AlreadyWatch) 
                        {
                           <a asp-page="/Shows/Details" asp-route-tmdbId="@um.TmdbId">  
                                <div class="media-card">
                                    @if(um.MediaPosterPath != null) {
                                        <img src=@um.MediaPosterPath alt="@um.MediaTitle" />
                                    }
                                    <span class="media-rating">
                                        @um.Rating
                                    </span>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            } *@
        </div>
</div>

<script type="module">
    import { searchMediaOnInput } from '/js/search.js';
    searchMediaOnInput("searchBox", "search-results", "?handler=Search","/Shows/Details","user-media-content");
</script>
